
.delivery-charge-details-control-section .row{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    

}
.delivery-charge-details-control-section .row table td{
    padding: 20px;
    border: 1px solid white;

}

.delivery-charge-details-control-section .row .delivery-charge-control form div{
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 12px 20px;
}
.delivery-charge-details-control-section .row .delivery-charge-control form {
   display: flex;
   flex-direction: column;
}
.delivery-charge-details-control-section .row table {
    width: 100%;
    margin-top: 12px;
 
 }


@media (max-width:770px) {
    .delivery-charge-details-control-section .row{
        
        grid-template-columns: 1fr ;
    
    }
    .delivery-charge-details-control-section .row .delivery-charge-control form div{
        display: grid;
        grid-template-columns: 150px 1fr;
        padding: 20px 0px;
    }
    
}

@media (max-width:350px) {
    .delivery-charge-details-control-section .row{
        
        grid-template-columns: 1fr ;
    
    }
    .delivery-charge-details-control-section .row .delivery-charge-control form div{
        display: grid;
        grid-template-columns: 100px 1fr;
        padding: 20px 0px;
    }
    
}