
.add-couponcode-section .row {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* min-height: 100vh; */
    
    }
    .add-couponcode-section{
        background-color: #232525;
        /* min-height: 100vh; */
        padding: 20px 0px;
        margin: 0;
        padding-bottom: 30px;
    
    }
    
    .add-couponcode-section .row .heading{
        font-size: 40px;
        color: grey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    padding-bottom: 20px;
    }
    .add-couponcode-section .row form{
        font-size: 20px;
        color: rgb(160, 160, 160);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    }
    .add-couponcode-section form .form-group{
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* border-bottom: 2px solid grey ; */
        row-gap: 10px;
    
    }
    .add-couponcode-section .row form input{
        background-color: rgb(186, 184, 184);
        border: none;
        border-radius: 5px;
    }
    input{
        outline: none;
        color: rgb(0, 0, 0);
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    
    
    input[type="number"] {
        -moz-appearance: textfield;
    }
    
    .add-couponcode-section input{
        padding: 5px 10px;
    }
    
    .add-couponcode-section form .contains-div div,
    .add-couponcode-section form .information-div div
    
    {
        display: flex;
        gap: 20px;
    }
    .add-couponcode-section form .contains-div div button,
    .add-couponcode-section form .information-div div button
    
    {
        height: 45px;
    }
    
    .add-couponcode-section form .form-group .list-of-item{
        grid-column: 2;
    
    }
    .add-couponcode-section form .form-group .list-of-item button{  
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    
    .add-couponcode-section form .image-div{
        width: 100%;
        display: flex;
    }
    .add-couponcode-section form .image-div ul{
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        width: 100%;
        max-width: 890px;
        list-style: none;
        flex-direction: row;
       
    }
    .add-couponcode-section form .image-div ul li{
       min-width: 220px;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }
    .add-couponcode-section form .image-div ul li img{
        
         user-select: none;
     }
    .add-couponcode-section form .image-div ul input{
        display: none;
        
    }
    
    
    @media (max-width:990px){
        .add-couponcode-section form .form-group{
            display: flex;
            flex-direction: column;
            /* border-bottom: 2px solid grey ; */
        
        }
        .add-couponcode-section form .contains-div{
            grid-template-columns: 1fr;
    
        }
    }
    
    
    @media (max-width:770px){
        .add-couponcode-section form .information-div  .add-section{
            display: flex;
            flex-direction: column;
        }
    
    }
    
    @media (max-width:570px){
        
        .add-couponcode-section .row {
           padding: 0px 20px;
            
            }
            .add-couponcode-section .row form{
             
            gap: 5px;
       
            }
    }